<% content_for :title do %>DataVis<% end %>
<% content_for :description do %>Website of Data Vis<% end %>

<ul data-orbit>
  <li>
    <img src="http://res.cloudinary.com/dtdgkk9aa/image/upload/c_scale,w_2000/v1459560068/pexels-photo_d2ntdk.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <img src="http://res.cloudinary.com/dtdgkk9aa/image/upload/c_scale,w_2000/v1459560068/pexels-photo_d2ntdk.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="http://res.cloudinary.com/dtdgkk9aa/image/upload/c_scale,w_2000/v1459560068/pexels-photo_d2ntdk.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>

<section>
  <div class="column">
    <h1>Stay in touch!</h1>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
