<% content_for :title do %>About<% end %>
<h2>Heh, Greetings.</h2>
<p>Today, Tuesday, October 14th 2015, at 3:40pm (after drinking too much coffee)
I decided to start this journal/blog/account of my road to becoming a web developer. There
have been many twists and turns that have preceeded this decision; however, I will focus
on what is in front of me.</p>
